$yellow: #f5c242;
$gold: #d9c786;
$red: #d70321;
$patternRed: #ac242a;
$websiteRed: #ce0019;
$shadowRed: #970217;
$shadowLightRed: #c11426;
$error: #ff4524;
$black: #1E1E20;

$goldGradient: linear-gradient(90deg, #e5c888 0%, #c79807 20%, #e5c888 53%, #c79807 80%, #e5c888 100%);
$goldGradientVertical: linear-gradient(0deg, #e5c888 0%, #c79807 20%, #e5c888 53%, #c79807 80%, #e5c888 100%);
