.submitBtn {
  margin-top: 36px;
}

.inputContainer {
  width: 90%;
  margin: 0 auto;
}

.marginTop {
  margin-top: 16px;
}

.moreDetailsText {
  font-family: 'Gotham';
  font-size: 1rem;

  margin-top: 32px;
}
