@use '@/styles/colours';

.container {
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  height: 6px;
  z-index: 100;
  background-color: colours.$patternRed;
}

.indicator {
  width: 100%;
  height: 100%;
  background-color: colours.$gold;
  transform: translateX(-100%);
}
